
.shop_error,
.shop_warning,
.shop_info,
.shop_debug,
.shop_critical,
.shop_tip {
	font-size: 100%;
	width: 95% !important;
	padding: 10px 20px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
.shop_tip,
.shop_info,
.shop_debug,
.shop_error,
.shop_warning,
.shop_critical {
	clear: both;
	width: 85%;
}
input.add-cart {
	width: 106px;
	height: 19px;
	padding-right: 20px;
	border: none;
	cursor: pointer;
	font-size: 11px;
	vertical-align: middle;
	margin-top: 6px;
}
#mainbody .componentheading a {
	text-decoration:none;
}
.gevork-prodwrap {
	padding-right: 10px;
	margin-top: 20px;
}
h2.gevork-title {
	font-size: 120%;
	margin: 0;
	padding: 0;
	height: 23px;
	line-height: 23px;
	padding-left: 28px;
}
img.gevork-img {
	display: block;
	margin: 0 auto;
}
.gevork-prodwrap form {
	padding-top: 6px;
	margin-top: 8px;
	text-align: center;
	clear: both;
}
