th{	font-size : 11px; font-family :   Arial;}
td{	font-size : 11px; font-family :   Arial;}
input{	font-size : 11px; font-family :   Arial;border: 1 solid  #000000;}
.smlchk{	font-size : 8px; font-family :   Arial;border:;width:10px;height:10px}
.smlchk1{border:0;}
textarea{	font-size : 11px; font-family :   Arial;border: 1 solid  #000000;}
select{	font-size : 11px; font-family :   Arial;}
body{	font-size : 11px; font-family :   Arial;}
h2 {	font-size : 14px; font-family :   Arial;font-weight : bold;color:#000000;margin:0;}
h3 {	font-size : 12px; font-family :   Arial;font-weight : bold;color:#000000}
h4 {	font-size : 12px; font-family :   Arial;font-weight : bold;}
.href2{font: 9px   Arial; color : #d8d8d8;}
.white{font: 9px   Arial; color : #FFFFFF;font-weight : bold; }

.td2editor{}
.td2{font-size : 11px; font-family :   Arial;  background: #000000; text-align : center; }


.td_top{font-size : 11px; font-family :   Arial; font-weight : bold; color: #FFFFFF; text-align : center; background: #313131;}
.td_selrow{text-align : left; background: #F87DB8;}
.td_b1{background : #FFFFFF;text-align : left;}
.td_b2{background : #FFFFFF;text-align : left;}
.td_b11{background : #FFFFFF;text-align : left;}
.td_b22{background : #FFFFFF;text-align : left;}

.ptd {margin-left:5px; margin-right:5px;margin-top:5px;margin-bottom:5px;font-weight:normal}

.basefont{	font-size : 11px; font-family :   Arial;}

A.menu:link {	width:100%;text-decoration: none;	color : black;background:none; }
A.menu:active {	width:100%;color: #ffffff;background : #000000;}
A.menu:visited {width:100%;text-decoration: none;color : black;background:none;}
A.menu:hover {width:100%;text-decoration: none;background : #000000;color : #ffffff;}

A.menuH:link {	width:100%;text-decoration: none;	color : #9c9c9c;background:none; }
A.menuH:active {	width:100%;color: #ffffff;background : #000000;}
A.menuH:visited {width:100%;text-decoration: none;color : #9c9c9c;background:none;}
A.menuH:hover {width:100%;text-decoration: none;background : #000000;color : #ffffff;}

A.poup:link {	width:100%;text-decoration: none;	color : black;}
A.poup:active {	width:100%;color: #ffffff;background : #000000;}
A.poup:visited {width:100%;text-decoration: none;color : black;}
A.poup:hover {width:100%;text-decoration: none;background : #000000;color : #ffffff;}

.tb_border {background: #E3A93E}

.button {font-size: 12px; color: white; background-color: #000000; }
.file {font-size: 12px; color: #000000; background: #FFFFFF;  border: 1 solid  #E3A93E;}

hr {height:1;color:#000000;margin:0}

.topmenuon {cursor:hand;background:none}
.topmenuoff {color:#ffffff;cursor:hand;background:#000000 url(../../img/new/topm.gif);}
.tdconon {}
.tdconoff {background:#000000 url(../../img/new/topcon.gif);background-repeat:no-repeat;}
.leftdiv{border-bottom:1 solid #000000;width:100%;background:#f1f1f1 url(../../img/new/topmbg.gif);background-position:left bottom;background-repeat:no-repeat}

A.block:link {text-decoration: none;	color : black; }
A.block:active  {	text-decoration: none;	color : black; }
A.block:visited  {text-decoration: none;	color : black; }
A.block:hover  {	text-decoration: underline;	color : black; }

A.extblock:link {	text-decoration: none;	 }
A.extblock:active  {	text-decoration: none;	}
A.extblock:visited  {	text-decoration: none;	 }
A.extblock:hover  {	text-decoration: underline;	}

.lenguagesel {background: #000000;color:#ffffff;width:50;}
.lenguagetd {width:50;border:1 solid #000000;}

A.lenguagelink:link {	width:100%;height:100%;text-decoration: none;	 }
A.lenguagelink:active  {	width:100%;height:100%;text-decoration: none;	}
A.lenguagelink:visited  {	width:100%;height:100%;text-decoration: none;	 }
A.lenguagelink:hover  {	width:100%;height:100%;text-decoration: none;	background: #000000;color:#ffffff;width:50;}

.srchinp{	font-size : 9px; font-family :   Arial;border: 1 solid  #000000;width:100%}

.rsl {color:#000000;background: #cfcfcf;}

.mrg{padding-left:5px}